html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 5px 50% 5px 50px;
    -webkit-border-radius: 5px 50% 5px 50px;
    -moz-border-radius: 5px 50% 5px 50px;
    -ms-border-radius: 5px 50% 5px 50px;
    -o-border-radius: 5px 50% 5px 50px;
    border-top-left-radius: 7px 22px;
    border-bottom-right-radius: 7px 22px;
    background-color: #EFEFEF;
    box-shadow: 0 0 10px 0 black inset;
}