div {
    width: 300px;
    height: 200px;
    margin: 50px auto;
    background-color: #eee;
    color: #03A9F4;
    font: bold 40px 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #03A9F4;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

div::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #E91E63;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}