:root {
    --main-color: #FF5722;
    --text-color: white;
}

h1 {
    width: 150px;
    height: 60px;
    padding: 10px;
    margin: 60px auto;
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1::before {
    content: '';
    z-index: -1;
    width: inherit;
    height: inherit;
    padding: inherit;
    background-color: var(--main-color);
    position: absolute;
    transform: translateX(20px) skew(0deg, 0deg);
    -webkit-transform: skew(14deg, 10deg);
    -moz-transform: translateX(20px) skew(0deg, 0deg);
    -ms-transform: translateX(20px) skew(0deg, 0deg);
    -o-transform: translateX(20px) skew(0deg, 0deg);
}

h1::after {
    content: '';
    z-index: -2;
    width: inherit;
    height: inherit;
    padding: inherit;
    background-color: var(--main-color);
    position: absolute;
    transform: skew(-14deg, -10deg);
    -webkit-transform: skew(-14deg, -10deg);
    -moz-transform: skew(-14deg, -10deg);
    -ms-transform: skew(-14deg, -10deg);
    -o-transform: skew(-14deg, -10deg);
}