div {
    display: flex;
    position: relative;
    width: 600px;
    background-color: #EEE;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    border-right: 8px solid #673ab7;
    border-left: 8px solid #f44336;
}

div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    padding: 0 7px;
    top: 0;
    background-image: linear-gradient(to right, #F44336 20%, #2196F3 20%, #2196F3 40%, #4CAF50 40%, #4CAF50 60%, #E91E63 60%, #E91E63 80%, #673AB7 80%);
}


div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    padding: 0 6px;
    background-image: linear-gradient(to right, #F44336 20%, #2196F3 20%, #2196F3 40%, #4CAF50 40%, #4CAF50 60%, #E91E63 60%, #E91E63 80%, #673AB7 80%);
}

div span::first-letter {
    color: #f44336;
}