.parent {
    display: flex;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin: 20px auto;
    background-color: #EEEEEE;
    justify-content: space-between;
    flex-flow:  wrap;
}

.parent div {
    background-color: #607D8B;
    color: white;
    font: bold 15px arial;
    width: calc((100% - 3dvh) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one, .three {
    height: 45px;
}

.one {
    order: 6;
    align-self: flex-end;
}

.two {
    order: 5;
}       

.three {
    order: 2;
}

.four {
    order: 3;
}

.five {
    order: 4;
}

.six {
    order: 1;
}